version: "3.9"

services:
  backend:
    container_name: backend
    build:
      context: ./backend
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - database
    networks:
      - internal
      - external

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks:
      - external

  database:
    container_name: database
    image: postgres:15-alpine
    restart: always
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal

volumes:
  pgdata:

networks:
  internal:
    driver: bridge
  external:
    driver: bridge
